@using Microsoft.AspNetCore.Components.Authorization
<AuthorizeView>
    <Authorized>
        <span class="text-light">@context.User.Identity?.Name</span>

        <a class="nav-link btn btn-link text-light" href="logout"><span class="iconify" data-icon="clarity:logout-line" data-width="35" data-height="35"></span></a>


    </Authorized>
    <NotAuthorized>
        <div class="d-inline-flex nav-item">

            <a class="text-light me-3 text-decoration-none" href="Login">Login</a>

        </div>
    </NotAuthorized>
</AuthorizeView>