@using Blazor_WASM_MovieApp.Exceptions
@using MudBlazor
@implements IErrorComponent
@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider />
<MudSnackbarProvider />
<NavMenu />

<MudLayout>
    <MudMainContent Class="container-fluid h-100 text-white">
            <div class="content px-4">
                @if (isErrorActive)
                {
                    <div class="alert alert-danger" role="alert">

                        <ul>
                            @foreach (var err in ErrorList)
                            {
                                <li>

                                    <p>@err.ErrorMessage</p>

                                </li>

                            }
                        </ul>

                    </div>
                }
                <CascadingValue Value="this" Name="ErrorComponent">
                    @Body
                </CascadingValue>

            </div>

    </MudMainContent>
</MudLayout>



@code {
    @inject NavigationManager NavigationManager;

    bool isErrorActive;
    List<ErrorItem> ErrorList;
    string? message = null;

   


    public void ShowError(List<ErrorItem> ErrorList)
    {
        this.isErrorActive = true;
        this.ErrorList = ErrorList;
        StateHasChanged();

    }

    public void HideError()
    {
        isErrorActive = false;
        StateHasChanged();
    }


}