@using Blazor_WASM_MovieApp.Models
<nav class="navbar navbar-expand-md navbar-dark" style="background-color:#1f1e1e">
    <div class="container-fluid">
        <a class="navbar-brand h5" href="">Blazor-Movie-App</a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse h5 @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" @onclick="HandleClickIndex">
                        <span class="iconify-inline" data-icon="bx:camera-movie" style="font-size: 24px;"></span>Movies
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="genreIndex" @onclick="HandleClickGenreIndex">
                        <span class="iconify-inline" data-icon="bxs:camera-movie" style="font-size: 24px;"></span> Genres
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="personIndex" @onclick="HandleClickPersonIndex">
                        <span class="iconify-inline" data-icon="mdi:human-female-female" style="font-size: 24px;"></span> People
                    </NavLink>
                </li>
                <AuthorizeView Roles="admin">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="ManageAccounts" @onclick="HandleClickManageAccounts">
                            <span class="iconify-inline" data-icon="ant-design:user-outlined" style="font-size: 24px;"></span> Users
                        </NavLink>
                    </li>
                </AuthorizeView>
            </ul>

        </div>

    
    
    <LoginDisplay />



    <EditForm Model="search" OnSubmit="HandleSubmit">
        <AuthorizeView Roles="admin, writer, reader" Context="authContext">
            <div class="d-inline-flex me-2">
                <div class="mb-5 me-2">

                    <MudTextField type="text" Label="Search" Style="@($"background:#FFFFFF")" @bind-Value="search.SearchString" />

                </div>

                <div class="mt-5">
                    <MudButton ButtonType="MudBlazor.ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" >Search</MudButton>
                </div>


            </div>
        </AuthorizeView>
    </EditForm>
    </div>


</nav>

@code {
    @inject NavigationManager NavigationManager;

    protected Search search = new Search();
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void HandleClickGenreIndex()
    {
        NavigationManager.NavigateTo("/genreIndex");
    }

    private void HandleClickIndex()
    {
        NavigationManager.NavigateTo("");
    }

    private void HandleClickPersonIndex()
    {
        NavigationManager.NavigateTo("/personIndex");
    }
    private void HandleClickManageAccounts()
    {
        NavigationManager.NavigateTo("/ManageAccounts");
    }
    private void HandleSubmit()
    {
        if (NavigationManager.Uri == NavigationManager.BaseUri)
        {
            NavigationManager.NavigateTo($"/loading/{search.SearchString}");
        }
        NavigationManager.NavigateTo($"/{search.SearchString}");
    }
}
