@page "/editGenre/{Id:int}"
@using Blazor_WASM_MovieApp.Models
@using Blazor_WASM_MovieApp.Client.Pages.BaseComponents
@using Blazored.FluentValidation
@inherits EditGenreBase

<h1 class="text-center">Edit Genre</h1>
<hr />

@if (isErrorActive)
{
    <div class="alert alert-danger" role="alert">

        <ul class="list-unstyled">
            @foreach (var err in ErrorList)
            {
                <li>

                    <p>@err.ErrorMessage</p>

                </li>

            }
        </ul>

    </div>
}

<div class="d-flex justify-content-center">


    <div class="col-md-4 ">
        <EditForm Model="genre" OnValidSubmit="UpdateGenre">

            <FluentValidationValidator />



            <div class="form-group mt-3 col">

                <label class="control-label">Name</label>
                <InputText @bind-Value="genre.Name" class="form-control" />
                <ValidationMessage For="() => genre.Name" />

            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <button type="button" class="btn btn-primary" @onclick="Cancel">Back to List</button>
            </div>

        </EditForm>

    </div>
</div>


@code {
    
}
