@page "/ManageAccounts"
@using Blazor_WASM_MovieApp.Client.Pages.BaseComponents
@inherits ManageAccountsBase
<div class="d-flex">
    <MudButton Href="/Register" Variant="Variant.Filled" Color="Color.Primary"> Add User  </MudButton>
</div>
<table class="table table-hover table-striped bg-white">
    <thead class="table-dark">
        <tr>
            <th>
                Username
            </th>

            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Users == null)
        {
            <p>Loading...</p>
        }
        else
        {
            @foreach (var user in Users)
            {
                <tr>
                    <td>
                        @user.UserName
                    </td>

                    <td>

                        <div class="span2">

                            <a class="btn btn-outline-primary" href="EditUser/@user.Id"> Edit </a>
                            <a class="btn btn-outline-danger" href="DeleteUser/@user.Id"> Delete </a>

                        </div>

                    </td>
                </tr>
            }
        }

    </tbody>
</table>


@code {

}
